.counter__container {
    position: absolute;
    top: 15px;
    left: 20px;
}
.counter__header {
    font-size: 21px;
    font-weight: bold;
    color: #ffff2b;
}
.counter {
    margin-top: 10px;
    background: #eaeaea;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #900700e0;
}