*{
    box-sizing: border-box;
}
.board {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}
.card {
    margin-top: 20px;
    width: 15%;
    height: 250px;    
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
    transition: filter .3s, transform .7s; 
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card.s1 {
    background-image: url(../../assets/images/s-1.jpg);
}
.card.s2 {
    background-image: url(../../assets/images/s-2.jpg);
}
.card.s3 {
    background-image: url(../../assets/images/s-3.jpg);
}
.card.s4 {
    background-image: url(../../assets/images/s-4.jpg);
}
.card.s5 {
    background-image: url(../../assets/images/s-5.jpg);
}
.card:hover {
    filter: sepia(100%);       
}

.card.open {
    transform: rotateY(180deg);
}
.card.open:hover {
    filter: none;
}
.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.card.open img {
    display: block;
}